.SW-cardContainer {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 480px) {
  .SW-cardContainer {
    flex-direction: column;
    align-items: center;
  }
}
