<mat-card class="SW-card" (click)="selectRandomCharacterOrShip(item)" @fadeIn>
  <ng-container *ngIf="!item; else isItem">
    <mat-card-header class="SW-full-center-flex-column">
      <p>CHOOSE</p>
      <p>OPPONENTS</p>
    </mat-card-header>
  </ng-container>

  <ng-template #isItem>
    <ng-container *ngIf="isPeopleProperties(item); else starshipTemplate">
      <h2>•NAME•</h2>
      <h1>{{ item?.name }}</h1>
      <h2>•MASS•</h2>
      <p>{{ item?.mass }}</p>
    </ng-container>

    <ng-template #starshipTemplate>
      <ng-container *ngIf="item">
        <h2>•NAME•</h2>
        <h1>{{ item?.name }}</h1>
        <h2>•CREW•</h2>
        <p>{{ item.crew }}</p>
        <h2>•MANUFACTURER•</h2>
        <p>{{ item.manufacturer }}</p>
      </ng-container>
    </ng-template>
  </ng-template>
</mat-card>
