<div class="SW-card" (click)="selectRandomCharacterOrShip(item)" @fadeIn>
  <ng-container *ngIf="!item; else isItem">
    <div class="choose-opponents">
      <p>CHOOSE</p>
      <p>OPPONENTS</p>
    </div>
  </ng-container>

  <ng-template #isItem>
    <ng-container *ngIf="isPeopleProperties(item); else starshipTemplate">
      <div class="opponents">
        <h2 class="opponents__title">•NAME•</h2>
        <h1 class="opponents__name">{{ item?.name }}</h1>
        <h2 class="opponents__title">•MASS•</h2>
        <p class="opponents__score">{{ item?.mass }}</p>
      </div>
    </ng-container>

    <ng-template #starshipTemplate>
      <ng-container *ngIf="item">
        <div class="opponents">
          <h2 class="opponents__title">•NAME•</h2>
          <h1 class="opponents__name">{{ item?.name }}</h1>
          <h2 class="opponents__title">•CREW•</h2>
          <p class="opponents__score">{{ item.crew }}</p>
          <h2 class="opponents__title">•MANUFACTURER•</h2>
          <p class="opponents__score">{{ item.manufacturer }}</p>
        </div>
      </ng-container>
    </ng-template>
  </ng-template>
</div>
