<div class="SW-full-center-flex-column">
  <div class="SW-line title-container">select game type</div>
  <div class="game-container">
    <div class="SW-cardContainer">
      <app-battle-type-card
        [title]="'Starship'"
        [routerLink]="['/game/battle']"
        [queryParams]="{ battle: 'starship' }"
      ></app-battle-type-card>
      <app-battle-type-card
        [title]="'People'"
        [routerLink]="['/game/battle']"
        [queryParams]="{ battle: 'people' }"
      ></app-battle-type-card>
    </div>
  </div>
</div>
