:root {
  --white-1: #ffffff;
  --white-2: #e5e8eb;

  --black-1: #171212;
  --black-2: #17121257;

  --brown-dark-1: #382929;

  --brown-light-1: #b89e9e;

  --orange: #fec960;

  --red: #f4264a;

  --yellow: #feda4a;

  --green: #04c800;
}
