.game-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55rem;
  width: 40rem;

  &__win {
    color: var(--green);
    font-size: 3rem;
  }

  &__tie {
    color: var(--yellow);
    font-size: 3rem;
  }
}
