.gameContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  width: 400px;
}
