* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--black-1);
}

.app {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loading {
  position: absolute;
  height: 100%;
  width: 100%;
}
