.example-card {
  width: 30rem;
  height: 55rem;

  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border: 0.2rem solid var(--brown-dark-1);
  border-radius: 1rem;
  cursor: pointer;
  &:hover {
    border: 5px solid var(--brown-ligth-1);
  }
}

@media screen and (max-width: 768px) {
  .example-card {
    width: 30vw;
    height: 30vh;
  }
}
@media screen and (max-width: 480px) {
  .example-card {
    width: 80vw;
    height: 30vh;
  }
}
