@use 'src/styles/styles-abstracts' as *;

* {
  box-sizing: border-box;
  font-family: Manrope;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 !important;
  font-family: Manrope;
  overflow: hidden;
}

html {
  font-size: 10px;
}

body {
  background-color: var(--black-1);
  color: var(--white-2);
}

.mapboxgl-canvas {
  cursor: default !important;
}

.cdk-overlay-pane {
  padding: 1rem;
}

.SW-line {
  border: 2px solid var(--brown-dark-1);
}
